{% extends "layout.html" %}

{% block title %}Herramientas{% endblock %}

{% block content %}
    
    

        <div class="main-contentTools">
            <div class="section-titleTools">Mis herramientas</div>
            <div class="section-subtitleTools">Recomendaciones de salud mental sugeridas por tu terapeuta</div>

            <div class="tool-card" onclick="openToolDetail()">
                <div class="tool-image"></div>
                <div class="tool-title">Preguntas curiosas en vez de indicaciones</div>
                <div class="tool-category">Categoría: Disciplina positiva en la familia</div>
                <div class="tool-description">
                    Como padres, solemos dar órdenes directas a los niños, transformando las órdenes directas en preguntas que los inviten a pensar. El objetivo es reducir las luchas de poder generadas para que recuerden y asuman sus responsabilidades por iniciativa propia, fortaleciendo así su autonomía y responsabilidad.
                </div>
                <div class="tool-actions">
                    <button class="btn-primary">Entendido</button>
                    <button class="btn-primary" style="background: #4CAF50;">Obtener ayuda de IA</button>
                </div>
            </div>
        </div>

       <script>
          function openToolDetail() {
           window.location.href = "{{ url_for('routes.tools_details') }}";
        }
       </script>

    <!-- <script src="{{ url_for('static', filename='js/tools-menu.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/PopUp.js') }}"></script>
{% endblock %}
